<!DOCTYPE html>
<html lang="'en" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link href="../css/style.css" type="text/css" rel="stylesheet" />

<title>Add Review</title>
</head>
<body>
	<div sec:authorize="isFullyAuthenticated()"> 
		<p> User: <span class="userName" sec:authentication="name"></span></p>
		<p> Role: <span sec:authentication="principal.authorities"></span></p>
		<form action="#" th:action="@{/logout}" method="POST">
			<input type="submit" value="Logout">
		</form>
	</div>
	
	<hr />
	
	<h1> Add a New Book</h1>
	
	<form action="#" th:action="@{/addBook}" method="POST">
		<input type="text" name="title" value="Game of Thrones" >
		<input type="text" name="author" value="George R. R. Martin">
		<br /><br />
		<input type="submit" value="Add Book!">
	</form>

	<br />
	<hr />
	<a href="#" th:href="@{/}"><button>Back to index</button></a>
</body>
</html>