table, td, th, tr {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 6px;
}

.userName {
	color: blue;
	text-transform: capitalize;
}

.bookTitle {
	color: orange;
}

.redText{
	color:red;
}