<!DOCTYPE html>
<html lang="'en" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link href="../css/style.css" type="text/css" rel="stylesheet" />
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<title>Registration Page</title>
</head>
<body>
	<header>
		<a href="#" th:href="@{/}">
			<img class="logo" src="../images/logo1.png" />
		</a>
		<div sec:authorize="!isFullyAuthenticated()"> 
			<p> User: <span class="userName">Guest</span></p>
			<a href="#" th:href="@{/login}">
				<button class="btnLogin">Login</button>
			</a>
		</div>
		
		<div sec:authorize="isFullyAuthenticated()"> 
			<p> 
				User: 
				<span class="userName" sec:authentication="name"></span>
			</p>
			<p> 
				Role: 
				<span sec:authentication="principal.authorities"></span>
			</p>
			<form  action="#" th:action="@{/logout}" method="POST">
				<input class="btnRegister" type="submit" value="Logout">
			</form>
		</div>
	</header>
	<hr class="hrHeader"/> 
			
	<h1>Register Here</h1>
		
	<div id= "error" class="redText" th:if="${message}">
		<h4 th:text="${message}"></h4>
	</div>
	
	<form action="#" th:action="@{/addUser}" method="POST"  name="form" 
		onsubmit="return verify()">
		<p>Username: <input type="text" name="username" value="bugs"></p>
		<p>Password: <input type="text" name="password" value="bunny"></p>
		<input class="btn" type="submit" value="Register Now">
	</form>

	<br />
	<br />
	<hr class="division" />
	<div class="centered">
		<a  href="#" th:href="@{/}">
			<button class="btn">Back to index</button>
		</a>
	</div>
</body>
</html>