<!DOCTYPE html>
<html lang="'en" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link href="../css/style.css" type="text/css" rel="stylesheet" />
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<title>Registration Page</title>
</head>
<body>
	<h1>Register Here</h1>
	
	<div id= "error" class="redText" th:if="${message}">
		<h3 th:text="${message}"></h3>
	</div>
	
	<form action="#" th:action="@{/addUser}" method="POST"  name="form" onsubmit="return verify()">
		<p>Username: <input type="text" name="username" value="bugs"></p>
		<p>Password: <input type="text" name="password" value="bunny"></p>
		<input type="submit" value="Register Now">
	</form>

	<br />
	<br />
	<hr />
	<a href="#" th:href="@{/}"><button>Back to index</button></a>
</body>
</html>